@model IEnumerable<dynamic>

<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Notas</title>
    <style>
        .chart-container {
            width: 900px;
            height: 900px;
            margin: auto;
            position: relative;
        }

        canvas {
            margin-bottom: 5%;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Gráfico</h1>

    <div style="width: 900px; height: 900px; margin:auto">
        <canvas id="myChart"></canvas>
        <canvas id="mySecondChart"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const ctx2 = document.getElementById('mySecondChart').getContext('2d');
            const notas = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

            const labels = [1, 2, 3, 4, 5];
            const data = labels.map(label => {
                const nota = notas.find(n => n.Nota === label);
                return nota ? nota.Comentario : 0;
            });

            const colors = [
                'rgba(108, 229, 232, 0.8)',
                'rgba(65, 184, 213, 0.8)',
                'rgba(45, 139, 186, 0.8)',
                'rgba(47, 95, 152, 0.8)',
                'rgba(49, 53, 110, 0.8)'
            ];

            const borderColors = [
                'rgba(108, 229, 232, 1.0)',
                'rgba(65, 184, 213, 1.0)',
                'rgba(45, 139, 186, 1.0)',
                'rgba(47, 95, 152, 1.0)',
                'rgba(49, 53, 110, 1.0)'
            ];

            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Notas',
                        data: data,
                        backgroundColor: colors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });

            const mySecondChart = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Notas',
                        data: data,
                        backgroundColor: colors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        </script>
    </div>
</body>
</html>
